Twitter:
  :name: twitter
  :title: Our Tweets
  :nitems: 5
  :username: ssuperawesom
  :password: tooobvious
  :follow: pusewicz,barrym,wjlroe,svicente,DavidMcNicholl,marcusmitchell,lucaspiller,toonzend,twittlefish

Tfl:
  :name: tfl
  :title: TfL Status
  :url: "http://api.tubeupdates.com/?method=get.status&lines=all&format=json"

Campfire:
  :nitems: 5
  :name: campfire
  :title: Campfire
  :room_id: 1
  :url: "https://sample.campfirenow.com"
  :token: your_api_key

Icinga:
  :name: icinga
  :username: icingaadmin
  :password: icingaadmin
  :title: Icinga Status
  :url: "http://localhost/icinga/cgi-bin/tac.cgi"
