# Example configuration file for all Sonia Widgets

# Cofiguration for webserver host and port
webserver:
  host: localhost
  port: 8080

# Configuration for websocket host and port
websocket:
  host: localhost
  port: 9090

# Configuration for Widgets
widgets:
  Twitter:
    title: Our Tweets   # Title for Twitter widget
    name: twitter
    nitems: 5           # Number of tweets to show
    username: username  # Username for Twitter account
    password: password  # Password for Twitter account
    follow: soniaappcom # What users to follow, and effectively what user's tweets to show

  Tfl:
    title: TfL Status # Title for TFL widget
    name: tfl

  Foursquare:
    title: Where we are                       # Title for Foursquare widget
    name: foursquare
    username: username_email_or_mobile_number # Username for Foursquare account
    password: password                        # Password for Foursquare account

  Campfire:
    title: Campfire                       # Title for Campfire widget
    name: campfire
    room_id: 1                            # Campfire room id to watch for new messages
    url: "https://sample.campfirenow.com" # Your Campfire URL
    token: your_api_key                   # API Token from My Info tab
    nitems: 5                             # Number of messages to show

  Icinga:
    title: Icinga Status                           # Title for Icinga widget
    name: icinga
    username: icingaadmin                          # Username for Icinga
    password: icingaadmin                          # Password for Icinga
    url: "http://localhost/icinga/cgi-bin/tac.cgi" # URL to tac.cgi

  Github:
    title: Github Commits   # Title for Github widget
    name: github
    username: your_username # Username for Github account
    token: your_token       # Token for Github account
    nitems: 5               # Number of commits to show

  YahooWeather:
    title: Weather for Paris # Title for YahooWeather widget
    name: yahoo_weather
    woeid: 615702            # Where on Earth IDentifier (http://developer.yahoo.com/geo/geoplanet/guide/concepts.html)
    units: celsius           # Units, either celcius or fahrenheit

  RSS:
    title: Feeds                           # Title for RSS widget
    name: RSS
    poll_time: 20                          # Poll time frequency
    url: "http://www.engadget.com/rss.xml" # URL to RSS feed
    xpath: "//item//title"                 # XPath to content to show
    nitems: 5                              # Number of RSS items to show

  Hoptoad:
    title: Apps errors
    name: hoptoad
    account: foo
    auth_key: foobarbaz
