!!!
%html
  %head
    %title Sonia - Superawesome Dashboard
    %meta(charset="utf-8")
    %link(media="screen" rel="stylesheet" type="text/css" href="/blueprint/reset.css")
    %link(media="screen" rel="stylesheet" type="text/css" href="/blueprint/grid.css")
    %link(media="screen" rel="stylesheet" type="text/css" href="/stylesheets/sonia.css")
    %script(type="text/javascript" src="/javascripts/prototype.js")
    %script(type="text/javascript" src="/javascripts/scriptaculous.js")
    %script(type="text/javascript" src="/javascripts/sonia.js")
    %script(type="text/javascript" src="/javascripts/dispatcher.js")
    %script(type="text/javascript" src="/javascripts/widget.js")
    %script(type="text/javascript" src="/javascripts/widgets/twitter.js")
    %script(type="text/javascript" src="/javascripts/widgets/tfl.js")
    %script(type="text/javascript" src="/javascripts/widgets/icinga.js")
    %script(type="text/javascript" src="/javascripts/widgets/campfire.js")
    :javascript
      $(document).observe("dom:loaded", function() {
        if ("WebSocket" in window) {
          console.log("WebSocket supported.");
          var sonia = new Sonia("ws://localhost:8080");
          } else {
          console.log("WebSocket not supported.");
        }
      });
  %body#widgets
    %h1 project sonia
