!!!
%html
  %head
    %title Sonia - Superawesome Dashboard
    %meta(charset="utf-8")
    %link(media="screen" rel="stylesheet" type="text/css" href="/blueprint/reset.css")
    %link(media="screen" rel="stylesheet" type="text/css" href="/blueprint/grid.css")
    %link(media="screen" rel="stylesheet" type="text/css" href="/stylesheets/sonia.css")
    %script(type="text/javascript" src="/javascripts/swfobject.js")
    %script(type="text/javascript" src="/javascripts/FABridge.js")
    %script(type="text/javascript" src="/javascripts/web_socket.js")
    %script(type="text/javascript" src="/javascripts/prototype.js")
    %script(type="text/javascript" src="/javascripts/scriptaculous.js")
    %script(type="text/javascript" src="/javascripts/sonia.js")
    %script(type="text/javascript" src="/javascripts/dispatcher.js")
    %script(type="text/javascript" src="/javascripts/widget.js")
    - widget_javascripts.each do |js|
      %script(type="text/javascript" src=js)
    %script(type="text/javascript" src="/javascripts/init.js")
  %body#widgets
    %h1 project sonia
