body * {
  cursor: default;
}

body {
  background: black; /* fallback for older/unsupporting browsers */
  background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.12, rgb(77,77,77)),
    color-stop(0.59, rgb(0,0,0)));
  color: white;
  font-size: 14px;
  font-family: "Optima";
}

h1 {
  width: 306px;
  height: 49px;
  text-indent: -10000px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url('/images/project_sonia.png');
}

div.widget {
  background-color: #cccccc;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(148,148,148)));
  margin: 16px;
  margin-top: 80px;
  margin-bottom: -80px;
  color: black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px;
  position: absolute;
  width: 320px
}

div.widget p hr {
  margin: 0;
}

div.widget h2 {
  font-size: 24px;
  font-weight: bold;
}

div.widget .handle {
  cursor: move;
}

div.widget .author {
  font-weight: bold;
}

div.widget p {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 5px;
}

div.widget p:after {
  clear: both;
}

div.widget img {
  float: left;
  margin: 5px;
  border: 0px !important;
}

div.widget img.icon {
  margin: 0;
  position: absolute;
  width: 64px;
  height: 64px;
  top: -35px;
  right: 0;
}

div.widget img.campfire_icon {
/*  background-image: url('../images/campfire-32x32.png');*/
}

div.widget img.tfl_icon {
/*  background-image: url('../images/tfl-32x32.png');*/
}

div.widget img.tfl {
/*  background-image: url('../images/tfl-32x32.png');*/
}

div.widget img.icinga {
/*  background-image: url('../images/icinga-32x32.png');*/
}

div.widget a {
  display: block;
}

/* Icinga */
div.icinga p {
  position: relative;
  width: 100%;
}
div.icinga p span {
  width: 50%;
  text-align: center;
  margin: 0;
  float: right;
  line-height: 32px;
}
div.icinga p span.count {
  float: left;
  font-weight: bold;
  -webkit-border-radius: 16px 0 0 16px;
  -moz-border-radius: 16px 0 0 16px;
}
div.icinga p span.status    {
  text-transform: uppercase;
  font-weight: bold;
  -webkit-border-radius: 0 16px 16px 0;
  -moz-border-radius: 0 16px 16px 0;
}

div.icinga p span.critical  { background-color: red; color: white; font-weight: bold }
div.icinga p span.ok        { background-color: green; color: white }
div.icinga p span.warning   { background-color: #FC0 }

/* TfL Lines*/
div.tfl p {
  position: relative;
  width: 100%;
}
div.tfl p span {
  width: 50%;
  text-align: center;
  margin: 0;
  float: right;
  line-height: 32px;
}
div.tfl p span.station {
  float: left;
}

div.tfl p span.status         { text-transform: uppercase; }
div.tfl p span.good_service   { background-color: green; color: white }
div.tfl p span.part_suspended { background-color: #963; color: white }
div.tfl p span.part_closure,
div.tfl p span.planned_closure{ background-color: #F7A414; color: white }
div.tfl p span.suspended      { background-color: black; color: white }
div.tfl p span.severe_delays  { background-color: red; color: white; font-weight: bold }
div.tfl p span.minor_delays   { background-color: yellow; color: black }
div.tfl p span.unknown        { background-color: black; color: white }
div.widget p#bakerloo         { background-color: #963; color: white }
div.widget p#central          { background-color: #C03; color: white}
div.widget p#circle           { background-color: #FC0 }
div.widget p#district         { background-color: #063; color: white}
div.widget p#docklands        { background-color: #099; }
div.widget p#hammersmithcity  { background-color: #F9C; }
div.widget p#jubilee          { background-color: #666; color: white }
div.widget p#metropolitan     { background-color: #903; color: white }
div.widget p#northern         { background-color: #000; color: white; }
div.widget p#piccadilly       { background-color: #039; color: white; }
div.widget p#victoria         { background-color: #39C; }
div.widget p#waterloocity     { background-color: #6CC; }


/* Github */

div.github .commit_message,
div.github .commit_repository { font-weight: bold }


/* Yahoo Weather */

div.yahoo_weather .content .text { font-weight: bold }
div.yahoo_weather .content .temperature {
  text-align: right;
  font-size: 32pt;
  font-weight: bold;
  margin-right: 0;
  padding-right: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}

