/* Hoptoad */

div.hoptoad { width: 330px; }
div.hoptoad .content img {
  width: 32px;
  height: 32px;
}

div.hoptoad td.app_name {
    font-size: 14pt;
    padding-left: 1em;
    min-width: 300px;
}

div.hoptoad td.no_app_errors {
    font-weight: bold;
    color: green;
    font-size: 14pt;
}
div.hoptoad td.app_errors {
    color: red;
    font-weight: bold;
    font-size: 14pt;
}

div.hoptoad .content p {
  line-height: 24px;
}
