/*
 * Basics
 */

/* Makeshift CSS Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
}

#container {
  margin: 0 auto;
  padding: 22px 0;
  width: 940px;
  min-height: 700px;
  font: 13px/22px Helvetica, Arial, sans-serif;
  background: -webkit-gradient(radial, 470 350, 350, 470 350, 0, from(#000), to(#FFF))
}

/* why why why why why why i hate html defaults */
img {
  border: none;
}

a, a:hover, a:visited, a:active {
  color: #fff;
}

/*
 * Twitter
 */

article[widget=twitter] p {
  float: left;
  margin-right: 40px;
}
