/* Yahoo Weather */

div.yahoo_weather .content .text { font-weight: bold }
div.yahoo_weather .content .temperature {
  text-align: right;
  font-size: 32pt;
  font-weight: bold;
  margin-right: 0;
  padding-right: 0;
  position: absolute;
  right: 10px;
  top: 25px;
}
